*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(0, 8, 10);
    height: 100%;
    width: 100%;
    display: grid;
    border: 1px solid sandybrown;
}

.item{
    display: grid;
    background-color: rgb(1, 16, 20);
    border: 2px solid rgb(217, 8, 8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

}